<h2><%= @todo_item.name %></h2>
<p><%= @todo_item.description %></p>

<%= render 'layouts/complete', todo_item: @todo_item %>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Delete', todo_item_path(@todo_item), method: :delete %> 